<h1> <%= @team_name %> </h1>
<p></p>
<h2>Team Motto: <%= @team_motto %>  </h2>
<p></p>
<h2>Hero Name: <%= @team_members[0][:name] %> </h2>
<p></p>
<label> Hero Power: <%= @team_members[0][:power] %> </label>
<label> Hero Bio: <%= @team_members[0][:bio] %> </label>
<p></p>
<h2>Hero Name: <%= @team_members[1][:name] %> </h2>
<p></p>
<label> Hero Power: <%= @team_members[1][:power] %> </label>
<label> Hero Bio: <%= @team_members[1][:bio] %> </label>
<p></p>
<h2>Hero Name: <%= @team_members[2][:name] %> </h2>
<p></p>
<label> Hero Power: <%= @team_members[2][:power] %> </label>
<label> Hero Bio: <%= @team_members[2][:bio] %> </label>
<p></p>